/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap");

body {
  width: 450px;
  font-family: "Poppins", sans-serif;
  display: block;
  padding: 20px;
  background-image: url("/assets/img/sfondo.png");
  font-size: 23px;
  word-spacing: 3.5px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  background-color: white;
}

ul {
  padding-left: 50px;
  list-style-type: disc;
  padding-bottom: 20px;
}
ol {
  list-style-type: decimal;
  padding-left: 50px;
  padding-bottom: 20px;
}

header {
  background: linear-gradient(90deg, #0f6f7b, #3bc1d3);
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-block: 3rem;
  width: 100%;
  box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.5),
    1px 1px 10px rgba(255, 255, 255, 0.5);
}

.head-list > a {
  color: white;
  text-decoration: none;
}

body > header > h3 {
  padding-block: 2rem;
}

.logo-container {
  margin-inline: auto;
  width: 60%;
}

.logo-container > img {
  width: 100%;
}

main {
  max-width: 100%;
  background-color: white;
  padding-top: 30px;
  display: block;
  margin-top: 1.2rem;
  padding: 15px;
  box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.5),
    1px 1px 10px rgba(255, 255, 255, 0.5);
}

main h1 {
  font-size: 40px;
  font-weight: 600;
}

main section .ele-box {
  background-color: #c5c2c261;
  border-radius: 10px;
  border: solid 1px;
  border-color: grey;
}

.head-content > h1 + p {
  font-size: 25px;
  padding-block: 20px;
  color: grey;
}

.head-content > p > span {
  font-weight: 700;
  color: #b473bf;
}

main h3:nth-of-type(1) {
  padding-bottom: 20px;
}

.head-content p:nth-of-type(2) {
  padding-bottom: 20px;
}

section p:nth-of-type(1) {
  padding-bottom: 20px;
}

section p:nth-of-type(2) {
  padding-bottom: 20px;
}

section > p > span {
  font-weight: 700;
  color: #b473bf;
}

table {
  width: 100%;
  table-layout: initial;
  text-align: center;
  border-collapse: inherit;
  border-bottom: solid 2px rgb(72, 72, 231);
}

table > caption {
  font-style: oblique;
  font-weight: 600;
}

table th {
  background-color: rgb(72, 72, 231);
  color: white;
  border: solid white 1px;
  font-size: 20px;
  padding-block: 1rem;
}

tfoot {
  border-bottom: rgb(72, 72, 231);
}

th,
td {
  border: solid white 1px;
  padding: 10px;
  padding-block: 1rem;
}

table thead th:nth-of-type(1) {
  vertical-align: bottom;
}

table tbody tr:nth-of-type(2) {
  background-color: rgb(171 163 163 / 22%);
}

table tbody tr:nth-of-type(4) {
  background-color: rgb(171 163 163 / 22%);
}

article {
  padding-top: 20px;
}

article a {
  color: #009fff;
  font-weight: 600;
}

main > .video-box > iframe {
  width: 100%;
  border-radius: 20px;
  height: 220px;
  margin-top: 2rem;
}

form {
  display: block;
  margin-inline: auto;
  width: 100%;
  background-color: #e3dede;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 1.5rem;
  font-family: "Poppins", sans-serif;
}

form > h2 {
  text-align: center;
  font-weight: 600;
  padding-block: 1.5rem;
  font-size: 30px;
}

form > h3 {
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

form > input,
button {
  display: inline-block;
  align-items: center;
}

.form-box {
  background-color: white;
}

.newesletter > input button {
  display: block;
  margin-inline: auto;
  width: 100%;
}

aside {
  width: 100%;
  background-color: white;
}

aside > h2 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding-bottom: 17px;
}

aside > div > h2 > a {
  color: #01adc3;
  font-weight: 600;
}

.articoli-corr {
  background-color: #e3dede;
  height: 120px;
  vertical-align: bottom;
  border: solid 1px grey;
  margin-block: 1rem;
  padding-top: 1.3rem;
  padding-left: 1rem;
  font-size: 20px;
}

.articoli-corr > #span-data {
  display: block;
  text-align: right;
  padding-top: 1.3rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

footer {
  background: linear-gradient(52deg, #25838f, #174349);
  color: white;
  text-align: center;
  padding-bottom: 1.2rem;
  box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.5),
    1px 1px 10px rgba(255, 255, 255, 0.5);
}

footer > h3 {
  padding-block: 1rem;
  margin-top: 2rem;
}

footer > p {
  padding: 1rem;
  font-size: 16px;
}

footer > p > a {
  font-weight: 600;
  color: #e237ff;
}
